body {
  background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #075A62), color-stop(0.65, #216C45));
  background-image: -o-linear-gradient(bottom, #075A62 0%, #216C45 65%);
  background-image: -moz-linear-gradient(bottom, #075A62 0%, #216C45 65%);
  background-image: -webkit-linear-gradient(bottom, #075A62 0%, #216C45 65%);
  background-image: -ms-linear-gradient(bottom, #075A62 0%, #216C45 65%);
  background-image: linear-gradient(to bottom, #075A62 0%, #216C45 65%);
  color: #ccba13;
}

.jumbotron {
  background-image: -webkit-gradient(
  	linear,
  	left top,
  	left bottom,
  	color-stop(0, #4FA814),
  	color-stop(1, #241C0C)
  );
  background-image: -o-linear-gradient(bottom, #4FA814 0%, #241C0C 100%);
  background-image: -moz-linear-gradient(bottom, #4FA814 0%, #241C0C 100%);
  background-image: -webkit-linear-gradient(bottom, #4FA814 0%, #241C0C 100%);
  background-image: -ms-linear-gradient(bottom, #4FA814 0%, #241C0C 100%);
  background-image: linear-gradient(to bottom, #4FA814 0%, #241C0C 100%);
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  color: gold;
  text-align: center;
  font-family: 'Metamorphous', cursive;
}

a {
  color: #3345EC;
}

button {
  background-color: black;
}

.questions-main {
  font-family: 'Arima Madurai', cursive;
  font-size: 20px;
}

.questions-main a {
  color: #45cd52;
}

.questions-main a:hover {
  color: #bad052;
}

form, .question-detail {
  font-family: 'Lobster Two', cursive;
  font-size: 20px;
  text-align: justify;
  margin: 0 auto;
}

.question-detail-answers{
  text-align: center;
}

.question-detail-answers ul{
  color: #32c199;
}

.question-detail-questions{
  color: #df672c;
}
