<div class= "container">
  <header class= "jumbotron">
    <h1>AFRICAN DISCOURSE</h1>
    <div class="container-fluid">
      {{#link-to 'index'}}Homepage{{/link-to}}
    </div>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'about'}}About AD{{/link-to}}
  </footer>
</div>
