<div class="questions-main">
  <center><h3><u>African talk</u></h3></center>

  <ul>
    {{#each model.questions as |question|}}
      {{question-tile question=question}}
    {{/each}}
  </ul>

  <center>{{new-question saveQuestion2="saveQuestion3"}}</center>
  <br>

</div>
